/* the codes be added later */

.bi-dot {
    background-color: transparent !important;
    font-size: large;
    font-weight: bold;
    border: #000
}

.flex-wrap {
    height: 300px;
}

ul>li {
    font-weight: bold;
    margin: 5px auto;
}

.h3 {
    margin-top: 40px;
}

nav .container a {
    margin-left: 3%;
}


/* footer adjusment */

@media (max-width: 768px) {
    #socialmedia li a i {
        font-size: x-large;
    }
}

@media (min-width: 768px) {
    #socialmedia li a i {
        font-size: xx-large;
    }
    #footernavbar li a {
        font-size: x-large;
    }
}

#img1,
#img2,
#img3
#img4
#img5 {
    transform: translateX(-150%);
}

@keyframes slidingAnimation {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}
