main {
    background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10vh 0 80vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

main::after {
    border-right: 2px dashed #eee;
    position: absolute;
    top: calc(10vh + 1.618em);
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
}


/* the codes be added later */

#wohnungsauflosung {
    background-image: url('../images/gartenpflege.jpg');
}

#reinigung {
    background-image: url("../images/haushaltsaufloesung-wohnungsaufloesung-muenchen.jpg");
}

.bi-dot {
    background-color: transparent !important;
    font-size: large;
    font-weight: bold;
    border: #000
}

.flex-wrap {
    height: 300px;
}

ul>li {
    font-weight: bold;
    margin: 5px auto;
}

.h3 {
    margin-top: 40px;
}


/* footer adjusment */

@media (max-width: 768px) {
    #socialmedia li a i {
        font-size: x-large;
    }
}

@media (min-width: 768px) {
    #socialmedia li a i {
        font-size: xx-large;
    }
    #footernavbar li a {
        font-size: x-large;
    }
}

#img1,
#img2,
#img3 {
    transform: translateX(-150%);
}

@keyframes slidingAnimation {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}